:root {
  --skyblue: #52fffe;
  --purpel: #6274cd;
  --black: #28364e;
  --white: #ffffff;
  --green: #6fcf97;
}
.container {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.leftdiv {
  width: 30%;
  border-right: 1px solid var(--green);
}
.rightdiv {
  width: 70%;
}
.Sendbtn {
  border: none;
}
.sendcontainer {
  width: 70%;
  display: flex;
  position: fixed;
  bottom: 0;
}
.sendcontainer input {
  padding: 10px 1rem;
  width: 80%;
  border: none;
  background-color: rgb(228, 217, 217);
}
.sendcontainer input:focus {
  outline: none;
}
.sendcontainer button {
  width: 30%;
  background-color: var(--green);
  border: none;
  color: var(--white);
  font-weight: 600;
  letter-spacing: 1.5px;
  cursor: pointer;
}
.userList {
  display: flex;
  flex-direction: column;
}
.userBox {
  height: 3.5rem;
  padding: 8px;
  display: flex;

  align-items: center;
  gap: 40px;
  background-color: var(--green);
  opacity: 0.75;
}
.imgBox {
  height: 3rem;
  width: 3rem;
  border-radius: 200%;
  display: flex;
  align-items: center;
}
.imgBox img {
  height: 100%;
}
.nameBox {
  font-size: 1.45rem;
  color: whitesmoke;
}
