.container {
  border: 1px solid red;
  height: 100vh;
  width: 100vw;
  display: flex;
}
.container * {

}
.leftdiv {
  width: 30%;
  border-right:1px solid blue;
}
.rightdiv {
  width: 70%;
}
.Sendbtn{
  border: none;
}
.sendcontainer {
  width: 70%;
  display: flex;
  position: fixed;
  bottom: 0;
}
.sendcontainer input {
  padding: 10px 1rem;
  width: 80%;
}
.sendcontainer button {
  width: 30%;
  border: none;
}
.userList {
display: flex;
flex-direction: column;

}
.userBox{
  height: 4rem;
  border: 1px solid rgba(0,0,0);
}
.imgBox{
  height: 100%;
}
.imgBox img{
  height: 100%;
}